[submodule "src/cc-icons"]
	path = src/cc-icons
	url = https://github.com/imerkle/cryptocurrency-icons.git
	branch = minimal
[submodule "src/app/constants"]
	path = src/app/constants
	url = https://github.com/bbase/constants.git
[submodule "src/app/omnijs"]
	path = src/app/omnijs
	url = https://github.com/bbase/omnijs.git
[submodule "src/app/stores/shared_stores"]
	path = src/app/stores/shared_stores
	url = https://github.com/bbase/shared_stores.git
