env:
  global:
    - CC_TEST_REPORTER_ID=$cc_test_id
language: node_js
node_js:
 - "node"
cache:
  directories:
    - node_modules
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build    
script:
  - npm run test --coverage
after_script: # Upload coverage reports 
  #- COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls  
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
on:
  branch: master   