.pad_50{ padding: 50px; }

.mar_20{ margin: 20px; }
.mar_0_20{ margin: 0px 20px; }
.mar_20_0{ margin: 20px 0px; }

.pad_20{ padding: 20px; }
.pad_0_20{ padding: 0px 20px; }
.pad_20_0{ padding: 20px 0px; }

.hint{color: #c2c2c2;}

.app_container{
  	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100vw;	
}
.fs{
	flex: 1 1 auto;
}
.fa{
	flex: 0 1 auto;
}
._100vh{
	height: 100vh;
}
.uppercase{
	text-transform: uppercase; 
}
.tcenter{
	text-align: center; 
}
.invisible{
	position: absolute;
	opacity: 0;
	z-index: -1;
}