.sorter{
    padding: 6px 8px;
    font-size: 10px;
    background: #201e1e;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 5px 3px 7px #1b1a1a;
    border: 1px solid transparent;
  	transition: .1s linear all;
    cursor: pointer;
}
.arrow{
	transition: .1s linear opacity;
}
.sorter .arrow{
	opacity: .2;
}
.sorter.selected,.sorter:hover{
    border-color: #4D4D4D;	
    opacity: 1;
}
.sorter.selected .arrow,.sorter:hover .arrow{
    opacity: 1;
}

.balance{
    font-weight: bold;
    font-size: 24px;
}

.tx_box{
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 5px 3px 10px #141111;
    border: 1px solid #3e3e3e;    
    width: 90%;
}
.tx_box a{
    color: #FFF;
    font-weight: bold;
}
.tx_box_li{
    cursor: pointer;
}
.tx_pending{
    opacity: .5;
    font-style: italic;
}
.tx_box_li td{
    padding: 10px 4px;
    text-align: center;
}
.tx_box_li:hover{
    background-color: rgba(0,0,0,.2);
}
td .got, td .sent{
    border-radius: 4px;
    padding: 4px;
}
td .got{
    background: #23ff23;
}
td .sent{
    background: #fc1888;
}
.feelabel{
    font-size: 12px;
    opacity: .5;
}
.pending{
    font-size: 60%;
    opacity: .5;
    font-style: italic;
    padding: 0 5px;
    font-weight: initial;
}