.sorter{
    color: #FFF;
    padding: 6px 8px;
    font-size: 10px;
    background: #201e1e;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 5px 3px 7px #1b1a1a;
    border: 1px solid transparent;
  	transition: .1s linear all;
    cursor: pointer;
}
.arrow{
	transition: .1s linear opacity;
}
.sorter .arrow{
	opacity: .2;
}
.sorter.selected,.sorter:hover{
    border-color: #4D4D4D;	
    opacity: 1;
}
.sorter.selected .arrow,.sorter:hover .arrow{
    opacity: 1;
}
.orderbook{
    min-width: 280px;
    max-height: 752px;
    background: #1D1D1D;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 4px;
}
.bid_box{
    color: rgb(212, 212, 212);
    width: 660px;
}
.orderbook_body{
}
.orderbook_sell{
    flex-direction: column-reverse;
}
.buy{}
.sell{}
.price{}
.buy,.sell{
    color: rgb(212, 212, 212);
    font-size: 12px;
    padding: 3px 4px;
    cursor: pointer;
    position: relative;
}
.buy:hover,.sell:hover{
    color: #FFF;
}
.sell .price{
    color: rgb(234, 0, 112);
}
.buy .price{
  color: rgb(112, 168, 0);
}
.pricesz{
    flex-basis: 40%;
    flex-wrap: wrap;
}
.amountsz{
    flex-wrap: wrap;
}
.totalsz{
    flex-wrap: wrap;
}
.dim{
    opacity: 0.5;
}
.bg{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 1;
}
.sell .bg{
    background-color: #2F1E26;
}
.buy .bg{
    background-color: #262F1D;
}
.bsz{
    z-index: 2;
}
.midprice_box{
    background-color: rgb(38, 38, 38);
    padding: 5px 10px;
    color:  rgb(212, 212, 212);
    font-weight: bold;
}
.midprice{
    flex-basis: 40%;
    flex-wrap: wrap;
    text-align: right;
    padding: 0 6px;
    font-size: 16px;
}
.midprice_span{
    flex-basis: 40%;
}
.midprice_usd{
    font-size: 12px;
}
.midprice_red{
    color: rgb(234, 0, 112);
}
.midprice_green{
  color: rgb(112, 168, 0);
}
.chart_bid{
    margin: 0 10px;
}
.chart{
    width: 660px;
    height: 440px;
    border: 1px solid rgb(38, 38, 38);
}
.chart_header{
    background: rgb(38, 38, 38);
    padding: 4px;
}
.chart_body{
    background: rgb(26, 26, 26);
}


.balance{
    font-weight: bold;
    font-size: 24px;
}

.tx_box{
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px;
    box-shadow: 5px 3px 10px #141111;
    border: 1px solid #3e3e3e;    
    width: 90%;
}
.tx_box a{
    color: #FFF;
    font-weight: bold;
}
.tx_box_li{
    cursor: pointer;
}
.tx_box_li td{
    padding: 10px 4px;
}
.tx_box_li:hover{
    background-color: rgba(0,0,0,.2);
}
td .got, td .sent{
    border-radius: 4px;
    padding: 4px;
}
td .got{
    background: #23ff23;
}
td .sent{
    background: #fc1888;
}
.feelabel{
    font-size: 12px;
    opacity: .5;
}